<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="#" th:action="@{/demo/login}" th:object="${user}"
		method="post">
		<table border="1">
			<tr>
				<td><label>Name</label></td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><label>Age</label></td>
				<td><input type="text" th:field="*{age}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		<label th:text="${error}" style="color: red;"></label>
	</form>
</body>
</html>